<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4  d-none d-md-block">
                <div class="webcore-widget widget--static-block  " role="complementary"
                    aria-labelledby="widget-2049-heading" id="widget-2049">
                    <header>
                        <h2 role="heading" id="widget-2049-heading">Faculties and Other Parts</h2>
                    </header>

                    <article>
                        <ul class="list-leaf__footer">
                            <li><a href="//www.pef.czu.cz/en/"> Faculty of Economics and Management </a></li>
                            <li><a href="//www.af.czu.cz/en/"> Faculty of Agrobiology, Food and Natural Resources
                                </a></li>
                            <li><a href="//www.tf.czu.cz/en/">Faculty of Engineering</a></li>
                            <li><a href="//www.fzp.czu.cz/en/">Faculty of Environmental Sciences</a></li>
                            <li><a href="//www.fld.czu.cz/en/"> Faculty of Forestry and Wood Sciences</a></li>
                            <li><a href="//www.ftz.czu.cz/en/">Faculty of Tropical AgriSciences</a></li>
                            <li><a href="//www.ivp.czu.cz/en/"> Institute of Education and Communication</a></li>
                        </ul>
                        <ul class="list-leaf__footer">
                            <li><a href="//www.ktv.czu.cz/en/">Department of Physical Education</a></li>
                            <li><a href="//lib.czu.cz/en/">Library</a></li>
                            <li><a href="//www.kam.czu.cz/en/">Halls of Residence &amp; Refectory</a></li>
                            <li><a href="//www.oikt.czu.cz/">Department of Information and Communication
                                    Technologies</a></li>
                        </ul>
                    </article>
                </div>
            </div>
            <div class="col-md-4  d-none d-md-block">
            </div>
            <div class="col-md-4">
                <div class="webcore-widget widget--static-block  " role="complementary"
                    aria-labelledby="widget-2052-heading" id="widget-2052">
                    <header>
                        <h2 role="heading" id="widget-2052-heading">Contact Information</h2>
                    </header>

                    <article>
                        <address>Czech University of Life Sciences Prague (CZU)<br>Kamýcká 129 <br>165 00&nbsp;Praha
                            - Suchdol<br>Czech Republic</address>
                        <address>VAT number: CZ60460709<br>Tel.: +420 224 381 111<br><a
                                href="https://www.google.cz/maps/place/%C4%8Cesk%C3%A1+zem%C4%9Bd%C4%9Blsk%C3%A1+univerzita+v+Praze/@50.1300752,14.3733917,17z/data=!4m2!3m1!1s0x0:0xf29bd7cffb8fb4bc">GPS
                                coordinates: 50,129976, 14,373707</a></address>
                        <address>&nbsp;</address>
                        <p>PIC: 999912570<br>OID: E10209207<br>DUNS: 360576495</p>
                    </article>
                </div>
            </div>
            <div class="col-md-12">
                <hr class="footer-decor">
            </div>
            <div class="col-md-10 small">
                <div class="webcore-widget widget--static-block  " role="complementary" id="widget-2048">

                    <article>
                        <p>Information presented on this server may only be published upon explicit agreement from
                            CZU Prague.<br><a title="Information on CZU Processing and Protection of Personal Data"
                                href="https://gdpr.czu.cz/cs/r-13670-pravni-prohlaseni#i-7c10793762778883d5b39d05bd64fea2">Information
                                on&nbsp;CZU Processing and Protection of Personal Data</a>.<br>© 2024 Czech
                            University of Life Sciences Prague<br>All rights reserved</p>
                    </article>
                </div>
            </div>
            <div class="col-md-2">
                <section class="webcore-widget widget--image" id="widget-2050" role="region">

                    <img src="/cache/article-data/CZU_logo_bila - kopie.png" title="" role="banner" alt="" aria-label=""
                        class="img-fluid">
                </section>
            </div>
        </div>
    </div>
</footer>