<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <title>Document</title>
</head>

<body>

    <div class="container text-center">
        <section class="row">
            <figure class="col text-start">
                <a href="https://biogas.czu.cz/cs" title="BioResources &amp; Technology" role="link">
                    <img src="brt.png" title="BioResources &amp; Technology" role="banner"
                        alt="BioResources &amp; Technology" aria-label="BioResources &amp; Technology"
                        class="img-fluid">
                </a>
            </figure>
            <section class="col-10">
                <div class="container text-center head">
                    <div class="row">
                        <h1 class="large">Scientific Database</h1>
                    </div>
                    <div class="row">
                        <H2>Bioressource & technology</H2>
                    </div>
                </div>
            </section>
            <div class="col-1"></div>
        </section>
    </div>

    <div class="container-md text-center border border-black">
        <p class="fs-3">Welcome to the BRT Scientific database.</p>
        <p class="fs-4">
            This database is there to give access to our publications, while demonstrating the use of modern
            technologies for access to scientific articles.
            <br>
            There is a lack of standardisation in reporting and no clear definition for certain terms leading to
            confusion and issues classifying.
            A problem exacerbated by an exponential growth in published research. This also compromises comparisons and
            reviews accuracy
            and leads to tedious work to recover information and the inevitability of missing crucial information.
            This highlights the urgent need for harmonisation of research to
            facilitate knowledge transfer and avoid redundant work or the overlooking of potential breakthrough
            research,
            while also indicating to researchers where focus should be orientated.
            Modern databases and centralisation could help bring standards, simplified reviews and updatable work
            hampered by traditional reporting.
            Research needs to be more accessible and rigorous using the open science framework, as to promote
            transparency, reproducibility and cooperation.
        </p>
        <a href="/search" class="p-2 nodecoration">
            <div class="d-grid gap-3">
                <button class="btn btn-secondary" type="button">Access to the database</button>
            </div>
        </a>
    </div>

    <%- include('partials/footer') %>

</body>

</html>